<div class="row">
  <div class="span12 well">
  <center>
   <legend>Simplegym Home Page</legend>
   <p>
    <%= link_to "Get Started »", new_registration_path('user'), class: 'btn btn-success' %>
   </p>
  </center>
</div>
</div>
